.image-manager-img-block {
    float: left;
    border: 1px #ccc solid;
    margin: 5px;
    width: 200px;
}

.image-manager-img-block:hover {
    border: 1px #777 solid;
}
.image-manager-img-block img {
    width: 100%;
    height: auto;
}

.image-block-tools{
    position: absolute;
    width: 225px;
    padding-left: 5px;
    padding-top: 5px;
}

.description-image {
    padding: 15px;
    text-align: center;
}